@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Terms and Conditions</h1>
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("index","home")">Home</a></li>
                                <li class="active">Terms and Conditions</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->