@{
    ViewBag.Title = "Computer and Laptop Repair";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Computer and Laptop Repair</h1>
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("index","home")">Home</a></li>
                                <li><a href="@Url.Action("index","service")">Services</a></li>
                                <li class="active">Computer and Laptop Repair</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-02.jpg" alt="Computer and Laptop Repair" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head">Computer and Laptop Repair</h3>
                                <p>
                                    In today’s generation computer is the part of
                                    our life without computer our life can’t sustain. Our talented experts are capable
                                    enough to resolve every type of technical issue on your system. Renew Laptop
                                    provide A-Z technical hardware and software solution for your system. We are
                                    always ready for your service. Never put your system on risk visit us for
                                    consultation and get repaired your system in the affordable price with worry free
                                    guarantee.<br>
                                    <br>
                                    We provide following Computer Repair Services:
                                    <br />
                                    1) Hardware installations & Upgrading memory, hard-drives, SSDs, Video
                                    Cards, Hard-Drives etc. <br />
                                    2) Computer Peripheral installation, Configuration, and networking, including
                                    printers. <br />
                                    3) Network Design and Configuration. <br />
                                    4) Software Installation and Upgrades, such as operating system and database
                                    application. <br />
                                    5) Full Data-Backup and Recovery Solutions. <br />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="main_heading text_align_left">
                                    <h2>More Services</h2>
                                    <p class="large"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 service_blog margin_bottom_50">
                            <div class="full">
                                <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-01.jpg" alt="Data Recovery" /> </div>
                                <div class="service_cont">
                                    <h3 class="service_head">Data recovery</h3>
                                    <p>
                                        We understand the importance of the data you have in your hard-drive, the
                                        question is, is it possible to recover lost data?
                                    </p>
                                    <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("data-recovery","service")">View Service</a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 service_blog margin_bottom_50">
                            <div class="full">
                                <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-03.jpg" alt="Network Solutions" /> </div>
                                <div class="service_cont">
                                    <h3 class="service_head">Network solutions</h3>
                                    <p>
                                        The term network services are used to describe a wide range
                                        of software and connectivity tools that are managed by a central group and
                                        distributed to the networked computers.
                                    </p>
                                    <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("network-solutions","service")">View Service</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->