@{
    ViewBag.Title = "Data Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Data Recovery</h1>
                            <ol class="breadcrumb">
                                <li><a href="@Url.Action("index","home")">Home</a></li>
                                <li><a href="@Url.Action("index","service")">Services</a></li>
                                <li class="active">Data Recovery</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1 service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 service_blog margin_bottom_50">
                        <div class="full">
                            <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-01.jpg" alt="Data Recovery" /> </div>
                            <div class="service_cont">
                                <h3 class="service_head">Data Recovery</h3>
                                <p>
                                    <h4>Complete Recovery from Local & External Drive</h4>
                                    A hard drive can stop working all of a sudden, and you might never make ample
                                    preparations for facing the situation, especially when the files stored on it get lost
                                    without any backup. We have purchased advanced high-level software to recover
                                    your lost data at very affordable price less than the value of your important files.<br>
                                    <br>
                                    <h4>Recovery Photo, Image, Video and Audio</h4>
                                    In today’s digital world, there are lots of important Images, Videos and Audio in
                                    the External and Internal Drives. We try our best to recover all those files for you.
                                    In our 9 years of career we have recovered highly important Photos,
                                    Images, Video and Audio files for our client. They are 100% satisfied from our
                                    service after getting back those most valuable files.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div class="main_heading text_align_left">
                                    <h2>More Services</h2>
                                    <p class="large"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 service_blog margin_bottom_50">
                            <div class="full">
                                <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-02.jpg" alt="Computer and Laptop Repair" /> </div>
                                <div class="service_cont">
                                    <h3 class="service_head">Computer repair</h3>
                                    <p>
                                        In today’s generation computer is the part of
                                        our life without computer our life can’t sustain.
                                    </p>
                                    <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("computer-repair","service")">View Service</a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 service_blog margin_bottom_50">
                            <div class="full">
                                <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-03.jpg" alt="#" /> </div>
                                <div class="service_cont">
                                    <h3 class="service_head">Network solutions</h3>
                                    <p>
                                        The term network services are used to describe a wide range
                                        of software and connectivity tools that are managed by a central group and
                                        distributed to the networked computers.
                                    </p>
                                    <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("network-solutions","service")">View Service</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->