@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Services</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>Service Process</h2>
                        <p class="large">Easy and effective way to get your device repaired.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="~/Content/images/it_service/si1.png" alt="#"></div>
                                <h4 class="service-heading">Fast service</h4>
                                <p>
                                    We are known as No. 1 fast computer repairing service provider in
                                    Ahmedabad, Gujarat. Maximum we take 24 hours to deliver your Laptop/Desktop
                                    after completing its service. However, the service duration depends on the issue
                                    you have on your Laptop/Desktop/Server.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="~/Content/images/it_service/si2.png" alt="#"></div>
                                <h4 class="service-heading">Genuine Parts</h4>
                                <p>
                                    Your system is very important and sensitive. We do not take any
                                    risk on it. We use all the genuine parts for your system to give it a long life.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="~/Content/images/it_service/si3.png" alt="#"></div>
                                <h4 class="service-heading">Expert team</h4>
                                <p>
                                    Your system is valuable for you and for us as well that is the reason,
                                    we have team of experts who are expert to resolve any type of technical issue on
                                    your system.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="~/Content/images/it_service/si4.png" alt="#"></div>
                                <h4 class="service-heading">Affordable services</h4>
                                <p>
                                    We understand the importance of the price, our services are
                                    affordable for all types of the customers. So, please feel free to contact us during
                                    business hours and provide us opportunity to serve you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="~/Content/images/it_service/si5.png" alt="#"></div>
                                <h4 class="service-heading">30 Days warranty</h4>
                                <p>
                                    Technical systems and parts are very sensitive we do not take any
                                    chance; we use quality accessories for your system to give it a new life. We assure
                                    you 30 days worry free guarantee. You won’t face any type of issue after your
                                    task is completed; in case you face any type of issue our team will take care of it
                                    for you and will fix it for you WITHOUT any additional fee.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<div class="section padding_layout_1 light_silver service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>What we provide?</h2>
                        <p class="large">Easy and effective way to get your device repaired.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-01.jpg" alt="#" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Data Recovery</h3>
                        <p>
                            We understand the importance of the data you have in your hard-drive, the
                            question is, is it possible to recover lost data?
                        </p>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("data-recovery","service")">View Service</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-02.jpg" alt="Computer and Laptop Repair" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Computer and Laptop Repair</h3>
                        <p>
                            In today’s generation computer is the part of
                            our life without computer our life can’t sustain.
                        </p>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("computer-repair","service")">View Service</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="~/Content/images/it_service/post-03.jpg" alt="Network Soultions" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Network solutions</h3>
                        <p>
                            The term network services are used to describe a wide range
                            of software and connectivity tools that are managed by a central group and
                            distributed to the networked computers.
                        </p>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="@Url.Action("network-solutions","service")">View Service</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->