@{
    ViewBag.Title = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- inner page banner -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Faq</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Faq</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<!-- section -->
<div class="section padding_layout_1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-bottom: 30px;">
                        <div class="full margin_bottom_30">
                            <div class="accordion border_circle">
                                <div class="bs-example">
                                    <div class="panel-group" id="accordion" style="margin-top: 0;">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-arrow-right" aria-hidden="true"></i> Who repairs our Computer?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse in show">
                                                <div class="panel-body">
                                                    <p>
                                                        Computer is repaired by our not only highly qualified but also experts. We have
                                                        experts for hardware repair and software repair also Backup and Recovery.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-arrow-right"></i> What types of computers are repaired at your service station?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        We repair all types of computers from Normal Computer to High Performance Computer.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><i class="fa fa-arrow-right"></i> Do you sell Computers?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Yes, we do provide New and Refurbished Computers.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><i class="fa fa-arrow-right"></i> Is our Computer in safe-hand?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Of course, your computer is in safe-hand because we have hardware experts.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><i class="fa fa-arrow-right"></i> Where is your Computer Repair Shop in Ahmedabad?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseSeven" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        You can click <a href="/contact">here</a> to know the address and our
                                                        contact details.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><i class="fa fa-arrow-right"></i> Do you charge for Normal Checkup?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        We value our customers. We do not charge for Normal Checkup. We only charge
                                                        for our hard work service and Genuine Parts.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><i class="fa fa-arrow-right"></i> How do you recover lost data?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        We use high advance Software to recover your valuable data.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <p class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><i class="fa fa-arrow-right"></i>What is your business hours?<i class="fa fa-angle-down"></i></a> </p>
                                            </div>
                                            <div id="collapseTen" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <p>
                                                        Our business hours are from 10 AM to 9 PM.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-md-12">
                        <div class="full" style="margin-top: 15px;">
                            <h3>Need file recovery?</h3>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                                quasi architecto beatae vitae dicta sunt explicabo..
                            </p>
                            <p><a class="btn main_bt" href="@Url.Action("data-recovery","service")">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->